<div class="primeng-playlist-table">
    <p-table
    [value]="playlists"
    >
        <ng-template pTemplate="body" let-playlist>
            <tr>
            <td>
                <img [src]="playlist.image" alt="Image de la playlist" width="50px" height="50px" />
            </td>
            <td>{{ playlist.name }}</td>

            <td>
                <!-- <p-checkbox
                    [binary]="true"
                    [(ngModel)]="playlist.selected"
                    (onChange)="onPlaylistSelectionChange()">
                ></p-checkbox> -->

                <div class="checkbox-wrapper-59">
                    <label class="switch">
                      <input type="checkbox">
                      <span class="slider"></span>
                    </label>
                  </div>
            </td>
            </tr>
        </ng-template>
    </p-table>
</div>