<div class="primeng-music-table">
    <p-table 
      [value]="likedTracks()"
      [scrollable]="true"
      scrollHeight="flex"
      [rows]="200"
      [virtualScroll]="true" 
      [virtualScrollItemSize]="60" 
      [lazy]="true"
      (onLazyLoad)="loadLikedTracks()"
    > <!-- PrimeNG injecte chaque élément de la liste likedTracks dans le ng-template comme valeur de la variable track à l'aide de let-track. -->
        <ng-template pTemplate="header">
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th *ngFor="let playlist of selectedPlaylists">{{ playlist.name }}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-track>
            <tr>
                <td class="td-albumImage">
                    <img [src]="track.albumImage" alt="Album Image" width="50px" height="50px" />
                </td>
                <td class="td-name">{{ track.name }}</td>
                <td class="td-artist">{{ track.artist }}</td>
                <td class="td-audio">
                    <audio controls [src]="track.previewUrl"></audio>
                </td>
                <td *ngFor="let playlist of selectedPlaylists" class="td-playlists">

                  <label class="checkbox-container">
                    <input
                      type="checkbox"
                      [checked]="isSelected(playlist.id, track.id)"
                      (change)="onCheckboxChange($event, playlist.id, track.id)"
                    >
                    <div class="checkmark"></div>
                  </label>
                </td>
            </tr>
        </ng-template>
    </p-table>    
</div>