.content {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

app-primeng-playlist {
  flex: 0 0 20%;  /* 20% pour la playlist */
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

app-primeng-music {
  flex: 1;   /* Prend le reste de l'espace */
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}