<div class="app-container">
  <!-- Si l'utilisateur n'est pas authentifié, on affiche le composant Welcome -->
  <app-welcome *ngIf="!isAuthenticated"></app-welcome>
  
  <!-- Si l'utilisateur est authentifié, on affiche l'application principale -->
  <div *ngIf="isAuthenticated" class="content">
    <!-- Playlist Component -->
    <app-primeng-playlist (selectedPlaylistsChange)="updateSelectedPlaylists($event)"></app-primeng-playlist>
    
    <!-- Music Component -->
    <app-primeng-music [selectedPlaylists]="selectedPlaylists"></app-primeng-music>

    <button (click)="regenerateAccessToken()">Regenerate access token</button>
  </div>
</div>